@charset "UTF-8";
#SNS-login-area{
	display: flex;
	text-align: center;
	justify-content:center;
	flex-direction: row;
}

#naver_id_login{
	padding: 0px 20px 0px 20px;
}

#questionMark1 {
	width: 10px;
	height: 10px;
}

#questionMark2 {
	width: 10px;
	height: 10px;
}



.login_area{
  margin: 0;
  margin-left: 18%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9px;
  border-top: 10px solid #45484e;
  border-bottom: 10px solid #45484e;
  width: 310px;
  height: 100%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

#accountReg__contrainer{
  margin: 0;
  margin-left: 21%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 310px;
  height: 100%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}


.login_title {
  font-family: 'Source Sans Pro', sans-serif;
  color: #45484e; 
  font-size: 16px;
  margin-top:14px;;
}
.input_id,.input_pw{
	height:30px;
}
.input_id,.input_pw,.input_content{
  display: block;
  margin: 20px auto;
  background: #f0f0f2;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: #8080ff;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}



.loginBtn{
  border:1;
  border-color: #45484e;
  color: #45484e;
  border-radius: 100px;
  width: 140px;
  height: 30px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}
.loginBtn2{
  border:0;
  background: #b8a3ff;
  color: #ffffff;
  border-radius: 100px;
  width: 140px;
  height: 30px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}

.emailBtn{
  border:0;
  background: #b8a3ff;
  color: #ffffff;
  border-radius: 100px;
  width: 140px;
  height: 30px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}
.emailBtn2{
  border:0;
  background: #b8a3ff;
  color: #ffffff;
  border-radius: 100px;
  width: 140px;
  height: 30px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}

.loginBtn:hover,.loginBtn2:hover,.emailBtn:hover,.emailBtn2:hover {
  background: #7f62df;
}

.find_id,.find_pw{
	color: #45484e;
  font-size: 12px;
  cursor: pointer;
}

.regBtn{
	color: #45484e;
	cursor: pointer;
}

.find_id:hover,.find_pw:hover,.regBtn:hover {
  color: #5d33e6;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 272px;
  height: 26px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 41%;
  left: 7.2%;
  color: white;
  display: none;
}

.mP_btn {
	color:black;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 10px;
}

.mP_btn:active {
	color: rgb(213, 213, 213);
}

.mP_btn:hover {
	color:rgb(94, 94, 94);
}