@charset "UTF-8";
#SNS-login-area{
	display: flex;
	text-align: center;
	justify-content:center;
	flex-direction: row;
}

#naver_id_login{
	padding: 0px 20px 0px 20px;
}

#questionMark1 {
	width: 10px;
	height: 10px;
}

#questionMark2 {
	width: 10px;
	height: 10px;
}

.login_area{
  margin: 0;
  margin-left: 30%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

#accountReg__contrainer{
  margin: 0;
  margin-left: 30%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 100%;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}


.login_title {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0; 
  font-size: 18px;
  margin-top:94px;;
}
.input_id,.input_pw{
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.loginBtn{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 39px;
  font-size: 16px;
  position: absolute;
  top: 69%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}
.loginBtn2{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 39px;
  font-size: 16px;
  position: absolute;
  top: 75%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.emailBtn{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 39px;
  font-size: 16px;
  position: absolute;
  top: 53.3%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}
.emailBtn2{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 39px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.loginBtn:hover,.loginBtn2:hover,.emailBtn:hover,.emailBtn2:hover {
  background: #5d33e6;
}

.find_id,.find_pw{
	color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}

.regBtn{
	color: #8080ff;
	cursor: pointer;
}

.find_id:hover,.find_pw:hover,.regBtn:hover {
  color: #5d33e6;
}