<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.nmp.admin.AdminMapper">
	<insert id="regClubInfo" parameterType="ClubDTO">
		insert into club values(
		#{club_id}, #{club_name}, #{club_name_eng}, #{sports_id},
		#{league_id}, #{city},
		#{stadium_name}, #{stadium_address},
		#{found_year}, #{website},
		#{intro}, sysdate
		)
	</insert>

	<select id="calcAllClubCount" parameterType="String"
		resultType="java.lang.Integer">
		select count(id) from (select rownum nun, n.* from (select
		* from v_adminclublist where #{field} like
		'%'||#{search}||'%' order by id)n)
	</select>

	<select id="getClubViewList" parameterType="com.tm.nmp.board.BoardOption"
		resultType="com.tm.nmp.admin.ClubView">
		select * from (select rownum num, n.* from (select * from v_adminclublist where ${field} like '%'||UPPER(#{search})||'%' order by id)n)
	</select>
</mapper>