<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.nmp.admin.AdminMapper">

	<select id="calcAllClubCount" resultType="java.lang.Integer">
		select count(id) from
		(select rownum nun, n.* from (select * from v_clubList where ${field}
		like '%'||#{search}||'%' order by id)n)
	</select>

	<select id="getClubViewList"
		parameterType="com.tm.nmp.board.BoardOption"
		resultType="com.tm.nmp.admin.ClubListView">
		select * from (select rownum num, n.* from (select * from
		v_clubList where ${field} like '%'||UPPER(#{search})||'%' order by
		id)
		n)
		where num between #{startNum} and #{endNum}
	</select>

	<insert id="regClubInfo" parameterType="ClubDTO">
		INSERT INTO tb_club (
		id,
		name,
		name_eng,
		sports_id,
		league_id,
		city,
		stadium_name,
		stadium_address,
		found_year,
		website,
		intro
		) VALUES (
		#{id},
		#{name},
		#{name_eng},
		#{sports_id},
		#{league_id},
		#{city},
		#{stadium_name},
		#{stadium_address},
		#{found_year},
		#{website},
		#{intro}
		)
	</insert>

	<insert id="uploadImage" parameterType="ClubImageDTO">
		insert into tb_club_image (
		club_id,
		sort,
		file_name
		)
		values (
		#{club_id},
		#{sort},
		#{file_name}
		)
	</insert>

</mapper>