<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.nmp.watch.ReviewMapper">
<select id="getReviewPostCount" resultType="int">
		select count(*) from
		cm_rv_board where rv_cat = #{rv_cat} and rv_title
		like
		'%'||#{search}||'%'
	</select>

	<select id="getReviewPostList"
		resultType="com.tm.nmp.watch.CM_RV_TITLE">
		select *
		from (
		select rownum as rn, rv_no, rv_id, rv_cat,
		rv_title,
		rv_content, rv_date, rv_img, rv_count, rv_like
		from(
		select * from
		cm_rv_board
		where rv_cat = #{rv_cat}
		and rv_title like
		'%'||#{search}||'%'
		<choose>
			<when test="sort == 1">
				order by rv_count desc
			</when>
			<when test="sort == 2">
				order by rv_like desc
			</when>
			<otherwise>
				order by rv_date desc
			</otherwise>
		</choose>
		)
		) where rn between #{rnStart} and #{rnEnd}
	</select>

	<insert id="writeReviewPost"
		parameterType="com.tm.nmp.watch.CM_RV_TITLE">
		insert into cm_rv_board
		values(cm_rv_board_seq.nextval,
		#{rv_nick},
		#{rv_id}, #{rv_title},
		#{rv_content}, sysdate, #{rv_img},
		#{rv_video},
		#{rv_cat}, 0, 0)
	</insert>

	<select id="getReviewPostNum" resultType="int">
		select rv_no from(
		select
		rv_no
		from cm_rv_board
		where rv_title = #{rv_title}
		and rv_id =
		#{rv_id}
		and rv_content like '%'||#{rv_content}||'%'
		order by rv_date
		desc
		)where
		rownum = 1
	</select>

	<select id="reviewPostDetail"
		resultType="com.tm.nmp.watch.CM_RV_TITLE">
		select * from cm_rv_board where rv_no = #{rv_no}
	</select>

	<delete id="deleteReviewPost">
		delete from cm_rv_board where rv_no = #{rv_no}
	</delete>

	<update id="updateReviewPost"
		parameterType="com.tm.nmp.watch.CM_RV_TITLE">
		update cm_rv_board
		set rv_title = #{rv_title},
		rv_content = #{rv_content},
		rv_img = #{rv_img},
		rv_video = #{rv_video}
		where rv_no = #{rv_no}
	</update>
</mapper>