<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.nmp.watch.WithGoMapper">
	<!-- 같이 보러 가기 -->
	<select id="getWithGoPostCount" resultType="int">
		select count(*) from
		cm_wg_board where wg_cat = #{wg_cat} and wg_title
		like
		'%'||#{search}||'%'
	</select>

	<select id="getWithGoPostList"
		resultType="com.tm.nmp.watch.CM_WG_TITLE">
		select *
		from (
		select rownum as rn, wg_no, wg_id, wg_cat,
		wg_title,
		wg_content, wg_date, wg_count, wg_like, wg_img
		from(
		select * from
		cm_wg_board
		where wg_cat = #{wg_cat}
		and wg_title like
		'%'||#{search}||'%'
		<choose>
			<when test="sort == 1">
				order by wg_count desc
			</when>
			<when test="sort == 2">
				order by wg_like desc
			</when>
			<otherwise>
				order by wg_date desc
			</otherwise>
		</choose>
		)
		) where rn between #{rnStart} and #{rnEnd}
	</select>

	<insert id="writeWithGoPost"
		parameterType="com.tm.nmp.watch.CM_WG_TITLE">
		insert into cm_wg_board
		values(cm_wg_board_seq.nextval,
		#{wg_id}, #{wg_title},
		#{wg_content}, #{wg_img}, #{wg_video}, sysdate,
		#{wg_cat}, 0, 0)
	</insert>

	<select id="getWithGoPostNum" resultType="int">
		select wg_no from(
		select
		wg_no
		from cm_wg_board
		where wg_title = #{wg_title}
		and wg_id =
		#{wg_id}
		and wg_content like '%'||#{wg_content}||'%'
		order by wg_date
		desc
		)where
		rownum = 1
	</select>

	<select id="WithGoPostDetail"
		resultType="com.tm.nmp.watch.CM_WG_TITLE">
		select * from cm_wg_board where wg_no = #{wg_no}
	</select>

	<delete id="deleteWithGoPost">
		delete from cm_wg_board where wg_no = #{wg_no}
	</delete>

	<update id="updateWithGoPost"
		parameterType="com.tm.nmp.watch.CM_WG_TITLE">
		update cm_wg_board set wg_title =
		#{wg_title},wg_content= #{wg_content}, wg_img = #{wg_img}
		where wg_no =
		#{wg_no}
	</update>
</mapper>