@charset "UTF-8";

:root { 
	--app-bg: #fff;
}

#stadium__container {
	width: 1150px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 4px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#stadium-club-list{
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 1rem;
}

#stadium__img img{
}

#test_north {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_east {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_south {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_west {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#north-poly {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

#test_3 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_6 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_9 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_12 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#north-poly {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

#north-poly:hover {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

#createPostBtn{
	margin-top: 1vh;
	display: inline-block;
    position: relative;
    margin: -2px 0 0 4px;
    padding: 2px 7px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 7px;
    color: #555;
    font-size: 11px;
    cursor: pointer;
    white-space: nowrap;
}


polygon {
	stroke-width: 5;
	stroke: red;
	fill: none;
}

polygon:hover {
	fill: red;
}

.club-fav-img {
  width: 20px;
  margin-left: 10px;
}

.club-fav-img-tag {
  width: 20px;
  margin: auto 0px;
}