@charset "UTF-8";

:root { 
	--app-bg: #fff;
}

#stadium__container {
	width: 1150px;
	margin-right: 15vw;
    margin-top: 5vw;
}

#stadium__img{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#stadium__img img{
	margin-left: 10vw;
}

#test_north {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_east {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_south {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_west {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#north-poly {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

#test_3 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_6 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_9 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#test_12 {
	width: 480px;
	height: 240px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

#north-poly {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

#north-poly:hover {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;
	stroke-dasharray: 0;
	stroke-linecap: round;
	opacity: 1;
}

}
polygon {
	stroke-width: 5;
	stroke: red;
	fill: none;
}

polygon:hover {
	fill: red;
}