<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.nmp.account.AccountMapper">

	<select id="accountLogin"
		resultType="com.tm.nmp.account.AC_US_TITLE">
		select * from user_table where user_id_name = #{user_id_name}
	</select>

	<insert id="regAccount"
		parameterType="com.tm.nmp.account.AC_US_TITLE">
		insert into user_table
		values(user_table_seq.nextval,
		#{user_id_name},#{user_pwd}, null,
		sysdate,#{user_reg_ip},#{user_admin},#{user_auth_type},#{user_email},null)
	</insert>

	<select id="searchId"
		parameterType="com.tm.nmp.account.AccountDTO"
		resultType="com.tm.nmp.account.AccountDTO">
		select * from account where ac_name = #{ac_name} and
		ac_email = #{ac_email}
	</select>

	<update id="changePwDo"
		parameterType="com.tm.nmp.account.AccountDTO">
		update account set ac_pw = #{ac_pw} where ac_id=
		#{ac_id}
	</update>

	<select id="socialIdCheck" resultType="int">
		select count(*) from
		user_table where user_id_name = #{user_id_name} and user_auth_type =
		#{user_auth_type}
	</select>

	<update id="accountUpdate"
		parameterType="com.tm.nmp.account.AccountDTO">
		update account set ac_pw = #{ac_pw}, ac_name =
		#{ac_name},ac_nick = #{ac_nick}, ac_addr =
		#{ac_addr}, ac_email =
		#{ac_email} where ac_id = #{ac_id}
	</update>

	<delete id="accountDelete"
		parameterType="com.tm.nmp.account.AccountDTO">
		delete from account where ac_id = #{ac_id}
	</delete>

</mapper>