@charset "UTF-8";

.board__bot-search {
  padding: 15px 0;
  background-color: #f9f7f9;
  width: 1100px;
}
#search {
  height: 30px;
  width: 400px;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#search:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}

.board__table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}


.btn {
  height:30px;
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}


/* reset */


.board__table {
  width: 1100px;
  margin: 0 auto;
}

.board__top{
	width: 1100px;
	text-align: right;
}
