@charset "UTF-8";

#newsContainer {
	margin: 0 150px;
	
}

.newsTitle {
	text-decoration: none;
	color: #0080ff;
	font-weight: 500;
	font-size: 15pt;
	padding-left: 10px;
}

.newsContent {
	display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 11px;
	
}

.title {
	padding-bottom: 5px;
	padding-top: 5px;
	display: flex;
}

.hiddenMsg {
	margin-left: 10px;
	font-size: 8pt;
	background-color: #666a73;
	color: yellow;
	opacity: 0.7;
	padding: 5px;
	display: none;
}

.title:hover .hiddenMsg {
	display: block;
}

.time {
	font-size: 10pt;
	text-align:left;
}

.news {
	margin-top: 20px;
	padding-bottom: 5px;
	text-align:left;
	margin-left:30px;
}

