@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --body-font: "Roboto", sans-serif;
  --page-bg-color: #f2f5f7;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2;
}

/* 전체관련, -> index.css와 겹치는 부분은 우선적용되도록 watchMain.jsp로 빼둠 */
.review__best, .review__fan, .review__posts__menu, .watch__header {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: #f3f6fd;
  border: 1px solid #f3f6fd;
  color: #1f1c2e;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0px 10px 0px 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
  max-width: 150px;
  transition: 0.2s;
}

.search-bar:placeholder {
  color: #1f1c2e;
}
.search-bar:hover {
  border-color: #6291fd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:focus {
  outline: none;
  border-color: #2869ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.action-button {
  border-radius: 4px;
  height: 32px;
  background-color: #f3f6fd;
  border: 1px solid #f3f6fd;
  display: flex;
  align-items: center;
  color: #1f1c2e;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}

.action-button span {
  margin-right: 4px;
}
.action-button:hover {
  border-color: #6291fd;
}

.move__button-wrapper {
  margin-top: 10px;
  margin-right: 20px;
  position: relative;
}

.watch__container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
  background-color: var(--page-bg-color);
  margin: 0 auto;
  overflow: hidden;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
}

/*  watch 페이지 헤더 */
.watch__header {
  height: 70px;
  width: 100%;
  background-color: var(--page-bg-color);
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: #8b939c;
  justify-content: space-between;
  flex-shrink: 0;
}

.watch__search-bar {
  position: relative;
}
.watch__search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding: 0 10px 0 40px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px 50%;
  color: #3d4954;
  font-family: var(--body-font);
}
.watch__search-bar input::placeholder {
  color: var(--placeholder);
}

.watch__header-title {
  font-size: 16px;
  font-weight: 400;
  margin-right: 120px;
}
.watch__header-title span {
  font-weight: 500;
  color: #3d4954;
}


/* 리뷰 : top 슬라이더 */
.review__slide {
  width: 100%;
}

.review {
  background: #fff;
}

.review__cell {
  position: relative;
  display: flex;
  padding: 25px;
  width: 40%;
  height: 250px;
  margin-right: 1px;
}
.review__cell:nth-child(1) {
  background-color: #fbadaf;
}
.review__cell:nth-child(2) {
  background-color: #a4e0eb;
}
.review__cell:nth-child(3) {
  background-color: #edb9d6;
}
.review__cell:nth-child(4) {
  background-color: #fdca95;
}
.review__cell:nth-child(5) {
  background-color: #cbb5e2;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button .arrow {
  fill: #d6d6d6;
}

.flickity-prev-next-button svg {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
}

.flickity-prev-next-button.previous {
  left: 15px;
}
.flickity-prev-next-button.next {
  right: 15px;
}

.flickity-viewport {
  overflow: visible;
}

.review__photo {
  width: 180px;
  flex-shrink: 0;
  bottom: -35px;
  left: 35px;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  transition: 0.3s ease;
}
.review__photo:hover {
  transform: scale(1.03);
}

.review__img {
  flex-shrink: 0;
}

.review__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.review__title {
  color: #ffffff;
  font-weight: 600;
}

.review__member {
  margin-top: 3px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.review__content {
  padding: 0 20px;
  color: #ffffff;
  overflow: hidden;
}

.rating {
  border: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin-right: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > label {
  color: #fff;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #d85d61;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #d85d61;
}

.blue > input:checked ~ label,
.blue:not(:checked) > label:hover,
.blue:not(:checked) > label:hover ~ label {
  color: #458997;
}

.blue > input:checked + label:hover,
.blue > input:checked ~ label:hover,
.blue > label:hover ~ input:checked ~ label,
.blue > input:checked ~ label:hover ~ label {
  color: #458997;
}

.purple > input:checked ~ label,
.purple:not(:checked) > label:hover,
.purple:not(:checked) > label:hover ~ label {
  color: #a76287;
}

.purple > input:checked + label:hover,
.purple > input:checked ~ label:hover,
.purple > label:hover ~ input:checked ~ label,
.purple > input:checked ~ label:hover ~ label {
  color: #a76287;
}

.yellow > input:checked ~ label,
.yellow:not(:checked) > label:hover,
.yellow:not(:checked) > label:hover ~ label {
  color: #ffad58;
}

.yellow > input:checked + label:hover,
.yellow > input:checked ~ label:hover,
.yellow > label:hover ~ input:checked ~ label,
.yellow > input:checked ~ label:hover ~ label {
  color: #ffad58;
}

.dark-purp > input:checked ~ label,
.dark-purp:not(:checked) > label:hover,
.dark-purp:not(:checked) > label:hover ~ label {
  color: #905587;
}

.dark-purp > input:checked + label:hover,
.dark-purp > input:checked ~ label:hover,
.dark-purp > label:hover ~ input:checked ~ label,
.dark-purp > input:checked ~ label:hover ~ label {
  color: #905587;
}

.review__voters {
  color: #fff;
  vertical-align: sub;
  font-size: 13px;
  margin-left: 7px;
  white-space: nowrap;
  margin-top: 7px;
}

.review__sum {
  margin-top: 20px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review__see {
  margin-top: 25px;
  text-align: center;
  background-color: #fff;
  color: #fbadaf;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  width: 160px;
  border-radius: 20px;
}
.review__see:hover {
  color: #ff6e72;
}
.review__see.review-blue {
  color: #a4e0eb;
}
.review__see.review-blue:hover {
  color: #22cdec;
}
.review__see.review-pink {
  color: #edb9d6;
}
.review__see.review-pink:hover {
  color: #ff6dbe;
}
.review__see.review-yellow {
  color: #fdca95;
}
.review__see.review-yellow:hover {
  color: #fb9124;
}
.review__see.book-purple {
  color: #cbb5e2;
}
.review__see.review-purple:hover {
  color: #a764ec;
}


/* 리뷰 bot all */
.watch__wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  overflow: hidden;
}


.reviews-of {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}


/* 리뷰 bot left */
.week1 {
  padding: 0 30px;
    border-right: 1px solid #dcddde;
}

.review__fan + .review__fan {
  margin-top: 20px;
}
.review__fan__member {
  font-size: 14px;
}
.review__fan:last-child {
  margin-bottom: 40px;
}

.review__fan__title {
  padding: 0 0 20px;
  font-weight: 500;
  font-size: 15px;
}

.review__fan__img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.review__best__img {
  width: 45px;
  margin-right: 16px;
}
.review__best__title {
  margin-bottom: 15px;
  font-weight: 500;
}
.review__best__member {
  font-size: 13px;
}
.review__best + .review__best {
  margin-top: 20px;
}

.review__best__content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
  height: 60px;
  margin-left: -35px;
}


/* 리뷰 bot right */
.review__posts__wrapper {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.review__posts__genre {
  font-weight: 500;
  font-size: 15px;
}

.review__posts__menu {
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcddde;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--page-bg-color);
  z-index: 2;
}

.review__sports__types {
  margin-left: auto;
}
.review__sports__types a {
  text-decoration: none;
  color: #3d4954;
  font-size: 14px;
}

.review__sports__type + .review__sports__type {
  margin-left: 20px;
}

.review__sports__type {
  position: relative;
  transition: 0.2s;
}
.review__sports__type.active, .review__sports__type:hover {
  -webkit-text-stroke: 0.3px;
}
.review__sports__type.active:before, .review__sports__type:hover:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  bottom: -17px;
  right: 15px;
  background-color: #67d4ea;
  box-shadow: 0px -1px 5px 0px #67d4ea;
}
.review__sports__type:nth-child(2):before {
  right: 12px;
}
.review__sports__type:nth-child(3):before {
  right: 8px;
}
.review__sports__type:nth-child(4):before {
  right: 6px;
}
.review__sports__type:nth-child(5):before {
  right: 20px;
}

.review__posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 40px;
  position: relative;
}

.review__post {
  margin-top: 20px;
  background-color: #fff;
  height: 270px;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 0 20px 20px;
  color: #8b939c;
}

.review__post__img {
  width: 160px;
  margin-top: -35px;
  border-radius: 2px;
  box-shadow: 0px 1px 7px 2px #c7c9d3;
  border-bottom: 1px solid #dcddde;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 0.3s ease;
}
.review__post__img:hover {
  transform: scale(1.04);
}

.review__post__content {
  color: #3d4954;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.review__post__title {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.review__post__by {
  font-size: 13px;
  color: #8b939c;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-rate > label {
  color: #cccccc;
}

.rate {
  display: inline-block;
  white-space: nowrap;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:hover,
.book-rate:not(:checked) > label:hover ~ label {
  color: #ff9700;
}

.book-rate > input:checked + label:hover,
.book-rate > input:checked ~ label:hover,
.book-rate > label:hover ~ input:checked ~ label,
.book-rate > input:checked ~ label:hover ~ label {
  color: #ff9700;
}

.card-vote {
  color: #8b939c;
}

.card-sum {
  color: #8b939c;
  font-size: 13px;
  line-height: 1.6em;
  -webkit-line-clamp: 4;
  margin-top: 15px;
}

.review__post__content-wrapper {
  display: flex;
  border-bottom: 1px solid #ebedef;
  position: relative;
}
.review__post__content-wrapper:before {
  content: "";
  position: absolute;
  background-color: #8f98a9;
  background-color: #aaaebc;
  box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  right: 12px;
  top: 17px;
  border-radius: 50%;
  margin-left: auto;
}

.like-profile {
  margin-top: 8px;
}
.like-profile + .like-profile {
  margin-left: -5px;
}

.like-name {
  font-size: 13px;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.like-name span {
  font-weight: 600;
}

@media (max-width: 1103px) {
  .review__cell {
    width: 60%;
  }
}
@media (max-width: 765px) {
  .review__cell {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .review__cell {
    width: 100%;
  }
}
@media (max-width: 458px) {
  .review__photo {
    width: 180px;
  }

  .review__voters {
    display: none;
  }
}
@media (max-width: 420px) {
  .review__see {
    width: 120px;
    font-size: 13px;
  }

  .review__photo {
    width: 130px;
  }

  .watch__wrapper {
    margin-top: 50px;
  }
}
@media (max-width: 360px) {
  .rating > label:before {
    font-size: 0.8em;
  }
}
@media (max-width: 1220px) {
  .card-vote {
    display: none;
  }
}
@media (max-width: 1085px) {
  .book-rate > label {
    font-size: 0.7em;
  }
}
@media (max-width: 1045px) {
  .books-of {
    display: none;
  }
}
@media (max-width: 725px) {
  .browse-category, .search-bar {
    display: none;
  }

  .watch__header-title {
    margin-right: auto;
  }

  .review__posts {
    grid-template-columns: 1fr;
  }

  .review__sports__types {
    display: none;
  }
}
@media (max-width: 372px) {
  .review__post__content {
    padding: 20px;
  }
}

/* * {
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #fff;
	background-attachment: fixed; 
	font-family: var(- -body-font);
	color: #3d4954;
	font-weight: 400;
	margin: 0;
}

fieldset, label {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}


.member__icon {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 15px;
} */